<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-database.js"></script>
  <style>
        input[type="file"] {
            display: none;
        }

        header,
        main,
        footer,
        .container {
            padding-left: 0px;
        }
        .tabcontent {
            display: none;
        }
      
      
        .custom-inp {
            color: #fff !important;
            transition: 0.25s;
        }
      .custom-inp:hover{
        transition: 0.05s;
      }

        @media only screen and (min-width : 992px) {

            header,
            main,
            footer,
            .container {
                padding-left: 350px;
            }
            .tabcontent {
                padding-left: 350px;
            }
        }
    

    </style>

</head>

<body>
    <nav> <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <a> <i style="padding:10px;" class="material-icons right">logout</i></a>
    </nav>

    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li>
            <div class="user-view">

                <div class="background">
                    <img
                        src="https://cdn11.bigcommerce.com/s-hfhomm5/images/stencil/1280x1280/products/180/451/Solid_Red_Sized__25214.1507754519.jpg?c=2&imbypass=on">
                </div>
                <a href="#user"> <img class="circle" src="https://i.ytimg.com/vi/OBbO3qejzzw/hqdefault.jpg"
                        alt="missing"> </a>
                <a href="#name"><span class="white-text name">ADMIN</span></a>
                <a href="#email"><span class="white-text email">ADMIN@thapar.edu</span></a>
            </div>
        </li>
        <li><a class="subheader">ADD</a></li>
        <div class="divider"></div>

        <li><a class="waves-effect tablinks" onclick="openCity(event, 'addTeacher')">ADD TEACHER</a></li>
        <li><a class="waves-effect tablinks" onclick="openCity(event, 'addStudent')">ADD STUDENT</a></li>
        <div class="divider"></div>

        <li><a class="subheader">VIEW</a></li>
        <li><a class="waves-effect tablinks" onclick="openCity(event, 'viewTeacher')">TEACHERS</a></li>
        <li><a class="waves-effect tablinks" onclick="openCity(event, 'viewStudent')">STUDENTS</a></li>
    </ul>
    <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="images/sample-1.jpg">
              <span class="card-title">Card Title</span>
              <a class="btn-floating halfway-fab waves-effect waves-light modal-trigger red"onclick="openCity(event, 'addTeacher')"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <h4>ADD TEACHER</h4>
            </div>
          </div>
        </div>
      </div>
      <div id="modal2" class="modal">
        <div class="modal-content">
            
                   
              
        </div>
        <div id="addTeacher" class="tabcontent">
            <h4 class="center">ADD A TEACHER</h4>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="First Name" id="teacher_first_name" type="text" class="validate">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="teacher_last_name" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="teacher_code" type="text">
                            <label for="teacherCode">Teacher's Code</label>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="teacher_email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
    <!--                     <div class="input-field col s6">
                            <label class="waves-effect waves-light btn z-depth-5 custom-inp">
                                <input type="file" id="teacher_file" />
                                Choose csv/excel file
                            </label>
                        </div> -->
                    </div>
                    <div class="row">
                            <div class="input-field col s12">
                                    <button id="teachadd" class="waves-effect waves-light btn z-depth-5 right addButton" ><i class="material-icons" >add</i>Add</button>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Tab content -->
    
    <div id="addStudent" class="tabcontent">
        <h3>Add Student</h3>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="First Name" id="student_first_name" type="text" class="validate">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="student_last_name" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="student_roll_no" type="text">
                        <label for="teacherCode">Roll No</label>
                    </div>
                </div>

                <div class="input-field col s12">
                    <select id="year">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                    </select>
                    <label>Year</label>
                </div>
                <div class="input-field col s12">
                    <select id="branch">
                        <option value="" disabled selected>Branch</option>
                        <option value="coe">COE</option>
                        <option value="chemical">Chemical</option>
                        <option value="electrical">Electrical</option>
                        <option value="civil">Civil</option>
                        <option value="ece">ECE</option>
                        <option value="biotech">BioTech</option>
                    </select>
                    <label>Year</label>
                </div>
                <div class="row">
<!--                     <div class="input-field col s6">
                        <label class="waves-effect waves-light btn z-depth-5 custom-inp">
                            <input type="file" id="student_file" />
                            Choose csv/excel file
                        </label>
                    </div> -->
                    <div class="row">
                            <div class="input-field col s12" >
                                    <button id="studadd" type="submit" class="waves-effect waves-light btn z-depth-5 right"><i class="material-icons">add</i>Add</button>
                            </div>
                    </div>
                
                </div>
                
            </form>
        </div>
    </div>
    <div id="viewStudent" class="tabcontent">
        <h3>View Student</h3>
    </div>
    <div id="viewTeacher" class="tabcontent">
        <h3>View Teacher</h3>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        var instances;
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            instances = M.Sidenav.init(elems, {});

        });
    </script>

    <!--  Tabs script  -->
    <script>
        function openCity(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
  
    <!--  Dropdown Script  -->
  <script>
       document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems, {});
        });
   document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, {});
  });
  </script>
  
  <script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBBgyIY1ru34Ij6KO_-RVTICcEsTzJ8yuU",
    authDomain: "attenman.firebaseapp.com",
    databaseURL: "https://attenman.firebaseio.com",
    projectId: "attenman",
    storageBucket: "",
    messagingSenderId: "1035758949707",
    appId: "1:1035758949707:web:4779f27dd6c1a12e"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

</script>
  
<script src="./admin.js"></script>
</body>

</html>