<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <style>
        header,
        main,
        footer {
            padding-left: 300px;
        }

        @media only screen and (max-width : 992px) {

            header,
            main,
            footer {
                padding-left: 0;
            }
        }
    </style>
</head>

<body>
    <nav> <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i>
    </nav>

    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li>
            <div class="user-view">

                <div class="background">
                    <img
                        src="https://cdn11.bigcommerce.com/s-hfhomm5/images/stencil/1280x1280/products/180/451/Solid_Red_Sized__25214.1507754519.jpg?c=2&imbypass=on">
                </div>
                <a href="#user"> <img class="circle" src="https://i.ytimg.com/vi/OBbO3qejzzw/hqdefault.jpg"
                        alt="missing"> </a>
                <a href="#name"><span class="white-text name">ADMIN</span></a>
                <a href="#email"><span class="white-text email">ADMIN@thapar.edu</span></a>
            </div>
        </li>
        <li><a class="subheader">ADD</a></li>
        <div class="divider"></div>

        <li><a class="waves-effect" href="#!">ADD TEACHER</a></li>
        <li><a class="waves-effect" href="#!">ADD STUDENT</a></li>
        <div class="divider"></div>
        </li>
        <li><a class="subheader">VIEW</a></li>
        <li><a class="waves-effect" href="#!">TEACHERS</a></li>
        <li><a class="waves-effect" href="#!">STUDENTS</a></li>
    </ul>

    <div class="container">
        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, {});

        });
    </script>
</body>

</html>