<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="./landing.css">
    <title>HomePage</title>


</head>

<body>
    <div class="container">
        <a class="waves-effect waves-light btn-large modal-trigger" href="#modal1">STUDENT</a>
        <a class="waves-effect waves-light btn-large modal-trigger" href="#modal2">TEACHER</a>
        <a class="waves-effect waves-light btn-large modal-trigger" href="#modal3">ADMIN</a>




        <!-- STUDENT-->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <!-- modal content -->
              <h4>STUDENT</h4>
              <p>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="studUn" type="text" class="validate">
                                <label for="icon_prefix">Roll No.</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">lock</i>
                                <input id="studPass" type="password" class="validate">
                                <label for="icon_telephone">Password</label>
                            </div>
                        </div>
                      <button class="btn waves-effect waves-light red" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
                    </form>
                </div>
            </p>

                <!--  -->
            </div>
        </div>
    </div>
    <!-- TEACHER -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>TEACHER</h4>
            <p>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="teachUn" type="text" class="validate">
                                <label for="icon_prefix">Username</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">lock</i>
                                <input id="teachPass" type="password" class="validate">
                                <label for="icon_telephone">Password</label>
                            </div>
                        </div>
                      <button class="btn waves-effect waves-light red" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
                    </form>
                </div>
            </p>
        </div>
        
    </div>
    <!-- ADMIN -->
    <div id="modal3" class="modal">
        <div class="modal-content">
            <h4>ADMIN</h4>
            <p>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="adminUn" type="text" class="validate">
                                <label for="icon_prefix">Username</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">lock</i>
                                <input id="adminPass" type="password" class="validate">
                                <label for="icon_telephone">Password</label>
                            </div>
                        </div>
                      <button class="btn waves-effect waves-light red center" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
                    </form>
                </div>
            </p>
        </div>
        
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems, {});
        });
    </script>
</body>

</html>