<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="./landing.css">
    <title>HomePage</title>
    <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-firestore.js"></script>
</head>

<body>
    <div class="container">
        <a class="waves-effect waves-light btn-large modal-trigger z-depth-5" href="#modal1">STUDENT</a>
        <a class="waves-effect waves-light btn-large modal-trigger z-depth-5" href="#modal2">TEACHER</a>
        <a class="waves-effect waves-light btn-large modal-trigger z-depth-5" href="#modal3">ADMIN</a>


        <!-- STUDENT-->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <!-- modal content -->
              <h4>STUDENT</h4>
              <p>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="studmail" type="text" class="validate">
                                <label for="icon_prefix">Roll No.</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">lock</i>
                                <input id="studpass" type="password" class="validate">
                                <label for="icon_telephone">Password</label>
                            </div>
                        </div>
                      <button class="btn waves-effect waves-light red" type="submit" name="action" id="studsubmit">Submit
    <i class="material-icons right">send</i>
  </button>
                    </form>
                </div>
            </p>

                <!--  -->
            </div>
        </div>
    </div>
    <!-- TEACHER -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>TEACHER</h4>
            <p>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="teachmail" type="text" class="validate">
                                <label for="icon_prefix">Username</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">lock</i>
                                <input id="teachpass" type="password" class="validate">
                                <label for="icon_telephone">Password</label>
                            </div>
                        </div>
                      <button class="btn waves-effect waves-light red" type="submit" name="action" id="teachsubmit">Submit
    <i class="material-icons right">send</i>
  </button>
                    </form>
                </div>
            </p>
        </div>
        
    </div>
    <!-- ADMIN -->
    <div id="modal3" class="modal">
        <div class="modal-content">
            <h4>ADMIN</h4>
            <p>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="adminmail" type="text" class="validate">
                                <label for="icon_prefix">Username</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">lock</i>
                                <input id="adminpass" type="password" class="validate">
                                <label for="icon_telephone">Password</label>
                            </div>
                        </div>
                      <button class="btn waves-effect waves-light red center" type="submit" name="action" id="adminsubmit">Submit
    <i class="material-icons right">send</i>
  </button>
                    </form>
                </div>
            </p>
        </div>
        
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems, {});
        });
    </script>
<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBBgyIY1ru34Ij6KO_-RVTICcEsTzJ8yuU",
    authDomain: "attenman.firebaseapp.com",
    databaseURL: "https://attenman.firebaseio.com",
    projectId: "attenman",
    storageBucket: "",
    messagingSenderId: "1035758949707",
    appId: "1:1035758949707:web:4779f27dd6c1a12e"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  
var studmail=document.getElementById("#studmail");
var teachmail=document.getElementById("#teachmail");
var adminmail=document.getElementById("#adminmail");
var studpass=document.getElementById("#studpass");
var teachpass=document.getElementById("#teachpass");
var adminpass=document.getElementById("#adminpass");

var studloginsub=document.getElementById("studsubmit");
var teachloginsub=document.getElementById("teachsubmit");
var adminloginsub=document.getElementById("adminsubmit");

studloginsub.addEventListener('click', (e) => {
  e.preventDefault();
  var email=studmail.value;
  var pass=studpass.value;
  var auth=firebase.auth();
  
  auth.signInWithEmailAndPassword(email,pass).then(cred => {
    console.log(cred.user);
  }).catch(function(error) {
  // Handle Errors here.
  var errorCode = error.code;
  var errorMessage = error.message;
  // ...
  console.log(errorMessage);
  });
  
  auth.onAuthStateChanged(function(user) {
  if (user) {
    console.log("user logged in!");
  } else {
    console.log("not found eror!");
    // User is signed out.
    // ...
  }
});
});
  
</script>

<!-- <script src="./login.js"></script> -->
</body>
</html>