<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Portal</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-database.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <style>
        .container {
            display: flex;
        }

        .container p {
            margin: auto;
        }

        #viewAttendance {
            display: none;
        }

        #markAttendance {
            display: block;
        }

        .subContainer {
            margin-top: 5em !important;
        }

        .card-horizontal {
            margin-top: 19em !important;
        }

        .card-stacked {
            min-width: 700px;
        }

        .totalClasses {
            font-size: 1.4em;
        }

        .classesAttended {
            font-size: 1.3em;
            font-weight: bold;
        }

        @media only screen and (max-width : 502px) {
            .brand-logo {
                font-size: 1.5em !important;
            }
        }
    </style>
</head>

<body>

    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!"><i class="material-icons">logout</i>Logout</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo"><i class="material-icons"></i>STUDENT PORTAL</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#" class="tablinks" onclick="openCity(event, 'markAttendance')">Mark Attendance</a></li>
                <li><a href="#" class="tablinks" onclick="openCity(event, 'viewAttendance')">View Attendance</a></li>
                <li>&nbsp;Hi Student ! &nbsp; &nbsp;</li>
                <li><a href="#" onclick="logOut()"><i class="material-icons">logout</i></a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li> &nbsp;&nbsp;Hi, Student !</li>
        <li><a href="#" class="tablinks" onclick="openCity(event, 'markAttendance')">Mark Attendance</a></li>
        <li><a href="#" class="tablinks" onclick="openCity(event, 'viewAttendance')">View Attendance</a></li>
        <li><a href="#" class="tablinks" onclick="logOut()">Logout</a></li>
    </ul>

    <div class="container subContainer tabcontent" id="viewAttendance">
        <div class="row">
            <div class="col s12 m12">
                <div class="card horizontal">
                    <div class="card-stacked">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s6">
                                    <span id="subName_1" class="subName"></span>
                                </div>
                                <div class="col s3">
                                    <span id="classesAttended_1" class="classesAttended"></span>&nbsp;/&nbsp;<span
                                        id="totalClasses_1" class="totalClasses"></span>
                                </div>
                                <div class="col s3">
                                    <span id="per_1"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12">
                <div class="card horizontal">
                    <div class="card-stacked">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s6">
                                    <span id="subName_2" class="subName"></span>
                                </div>
                                <div class="col s3">
                                    <span id="classesAttended_2" class="classesAttended"></span>&nbsp;/&nbsp;<span
                                        id="totalClasses_2" class="totalClasses"></span>
                                </div>
                                <div class="col s3">
                                  <span id="per_2"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12">
                <div class="card horizontal">
                    <div class="card-stacked">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s6">
                                    <span id="subName_3" classes="subName"></span>
                                </div>
                                <div class="col s3">
                                    <span id="classesAttended_3" class="classesAttended"></span>&nbsp;/&nbsp;<span
                                        id="totalClasses_3" class="totalClasses"></span>
                                </div>
                                <div class="col s3">
                                  <span id="per_3"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container tabcontent" id="markAttendance">
        <div class="row">
            <div class="col s12 center-align">
                <h4><strong>YEAR:</strong> 2 &nbsp;&nbsp;&nbsp;<strong>Batch:</strong> COE17</h4>
            </div>
            <div class="divider"></div>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <div class="col s12 center "><strong>Please Mark Your Attendancease</strong>
                <div class="container">
                    <table>
                        <thead>
                            <tr>
                                <th>SUBJECT</th>
                                <th>TEACHER</th>
                                <th>ATTENDANCE</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>UTA007</td>
                                <td>Mr. Ankush Phatania</td>
                                <td>
                                  <form class="col s12">
                                    <div class="row">
                                      <div class="input-field col s6">
                                        <input placeholder="Key 1" id="key_1" type="text" class="validate">
                                        <label for="key_1">First Key</label>
                                      </div>
                                      <div class="input-field col s6">
                                        <input placeholder="Key 2" id="key_2" type="text" class="validate">
                                        <label for="key_2">Second Key</label>
                                      </div>
                                    </div>
                                    <button id="submit1" onclick="checkKey()" class="btn waves-effect waves-light right" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
        
                                  </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, {});
        });
    
    </script>

    <!--  Tabs script  -->
    <script>
        function openCity(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
  
  <script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBBgyIY1ru34Ij6KO_-RVTICcEsTzJ8yuU",
    authDomain: "attenman.firebaseapp.com",
    databaseURL: "https://attenman.firebaseio.com",
    projectId: "attenman",
    storageBucket: "",
    messagingSenderId: "1035758949707",
    appId: "1:1035758949707:web:4779f27dd6c1a12e"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  // var auth=firebase.auth();  
    // async function getKey(){
  //   var key = (auth.currentUser.email.split('@')[0])%100;
  //   console.log(key);
    // return _key;
    // };
    
    var key = 18;
    
    // var key = getKey();
    
    // function logOut(){
    //   firebase.auth().signOut();
    //   window.open="./landing";
    // }
    function checkKey(){
      
      var today = new Date();
      var dd = String(today.getDate()).padStart(2, '0');
      var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
      var yy = today.getFullYear().toString().split('0')[1];;

      today = dd + '-' + mm + '-' + yy;
      var key1=document.querySelector('#key_1').value;
      var key2=document.querySelector('#key_2').value;
      
          if(parseInt(key1) + parseInt(key2) == key*2){
            console.log("true");
            //save to db
            var database = firebase.database();
              firebase.database().ref('attendance/COE1/101803318/math/').push({
              "HELO":"P"
            });
          }
        else{
          console.log("false");
          alert("Wrong Key !");
        }
    }
      
</script>
<!-- View Attendance Firebase -->
  <script>
            var ref = firebase.database().ref('/attendance/COE1/');
            var k = [];
            var mm;
            var content = '';
            ref.on('value', function (snapshot) {
                snapshot.forEach(function (data) {
                    k.push(data.val())
                });
                mm = k[0];
                // console.log(mm[Object.keys(mm)[0]].batch);
                // document.getElementById("studList").style.display = "block";
                var i = 0;
                while (mm[Object.keys(mm)[i]] != null) {
                    var pcount=0;
                    var acount=0;
                    $("#subName_"+(i+1)).text(Object.keys(mm)[i]);
                    
                    var zz = mm[Object.keys(mm)[i]]
                    var j = 0;
                    while (zz[Object.keys(zz)[j]] != null){
                      if(zz[Object.keys(zz)[j]] == "P")
                        pcount++;
                      if(zz[Object.keys(zz)[j]] == "A")
                        acount++;
                      
                      j++;
                    }
                    $("#classesAttended_"+(i+1)).text(pcount);
                    $("#totalClasses_"+(i+1)).text(pcount+acount);
                    $("#totalClasses_"+(i+1)).text(pcount+acount);
                  var totalcount=pcount+acount;
                    $("#per_"+(i+1)).text(Math.round(pcount*100/totalcount)+"%");
                    i++;
                    //console.log(content);
                }
            });
  </script>
</body>

</html>