body{
/* background-image: url("http://www.icfsthapar.in/assets/img/banner3a-new.jpg"); */
}

.container {
    display: flexbox;
    text-align: center;
    margin-top: 10em;
    box-shadow: 1px 2px 50px 0px rgba(0, 150, 0, 0.1);
}

.container a {
    justify-content: center;
    margin: 3em;
    align-self: center;
    align-items: baseline;
}
